{% extends 'fortunetelling/base.html' %}
{% block content %}
{% load static %}
<img src="{% static 'fortunetelling/images/kofun_zenpou_kouenfun.png' %}" width="15%" height="15%">
<img src="{% static 'fortunetelling/images/job_hakkutsu.png' %}" width="15%" height="15%">
<form method="POST">{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputPassword1">名前を入力してください</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="例）浦島太郎">
  </div>
  <button type="submit" class="btn btn-primary">今すぐ占う</button>
</form>
{% endblock content %}